<div class="container">
  <div class="left-panel">
    <h1 class="title">THESIS DEFENSE <br />SCHEDULING</h1>
  </div>
  <div class="right-panel">
    <div class="login-card">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <label for="password">Password</label>
        <input
  type="password"
  id="password"
  placeholder="Enter your password"
  formControlName="password"
          
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Valid password is required.
        </div>

        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
