* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url('/assets/chart-placeholder.png'); /* 👈 Background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
 
/* Optional: add a dark overlay for readability */
.container::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

 
.left-panel,
.right-panel {
  flex: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
 
.left-panel .title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}
 
.login-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 350px;
  color: #000;
}
 
.login-card h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}
 
.login-card label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
 
.login-card input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
 
.forgot {
  display: block;
  margin-bottom: 1.25rem;
  text-align: right;
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}
 
button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  background-color: #0066ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}
 
button[type="submit"]:hover {
  background-color: #0055cc;
}
/* Personnalisation de base */
.custom-toast {
  background-color: #ffebee !important;
  color: #b71c1c !important;
  border-left: 5px solid #d32f2f;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', sans-serif;
}

.custom-toast .toast-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.custom-toast .toast-message {
  font-size: 14px;
}
::ng-deep .snackbar-error {
  background-color: #f44336; // rouge
  color: #fff;
  font-weight: bold;
}
::ng-deep .snackbar-succes {
  background-color: #36f46f; // rouge
  color: #fff;
  font-weight: bold;
}